<!-- <footer class="footer col-sm-12 " style="background:#000; padding: 1em; margin-top: 2em;">

  <div class="container">
    <div class="col-md-6 col-lg-6 col-sm-7 footer-info">
      <span class="text-muted">All Rights Reserved | Maharaja Surajmal Institute of Technology | <span id="currentYear">2019</span></span>
    </div>
  </div>

</footer> -->

<footer class="footer" style="background:#000; padding:1em; margin-top: 2em;margin:0px;clear: both;">
  <div class="container">
    <div class="col-md-6 col-lg-6 col-sm-7 footer-info">
      <span class="text-muted">All Rights Reserved | Maharaja Surajmal Institute of Technology | <span id="currentYear">2019</span></span>
    </div>
  </div>

</footer>

</body>

</html>
