<%- include('partials/header') %>

<div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 centralcontent" style="padding: 1em; margin-left: 15em; margin-top: 1em; margin-bottom: 1em;">
  <h4 style="text-align:center;"><b>Grievance Redressal Committee</b></h4>
  <hr>
  <table border="0" cellpadding="0" cellspacing="0" class="table">
	<thead>
		<tr>
			<th scope="col"><strong>S. No.</strong></th>
			<th scope="col"><strong>Name of faculty</strong></th>
			<th scope="col"><strong>Designation</strong></th>
			<th scope="col"><strong>Contact </strong></th>
		</tr>
	</thead>
  <tbody>
		<tr>
			<td>1</td>
			<td>Dr. Sobinder Singh</td>
			<td>Chairman</td>
			<td>sobinder77@msit.in<br />
			M- 9968421568</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Dr. Naveen Dahiya</td>
			<td>Member</td>
			<td>
			<p>naveendahiya@msit.in</p>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Sh. Manoj Malik</td>
			<td>Member</td>
			<td>manojmalik@msit.in<br />
			&nbsp;</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Dr. Sheela Malik</td>
			<td>Member</td>
			<td>sheelamalik@msit.in<br />
			&nbsp;</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Dr. Kavita Sheoran</td>
			<td>Member</td>
			<td>
			<p>kavita.sheoran@msit.in</p>
			</td>
		</tr>
	</tbody>
</table>

</div>


<%- include('partials/footer') %>
