<%- include('partials/header') %>

<style media="screen">

  @media (min-width: 1200px){
    .form-con {
      margin-left: 250px;
      margin-right: 500px;
    }
  }

</style>

<div class="form-con col-md-8 col-sm-12 col-xs-12 col-lg-8 centralcontent" style="padding: 1em; margin-top: 1em; margin-bottom: 1em;">
  <h4 style="text-align:center;"><b>Student Grievances Committee</b></h4>
  <!-- Grievance Redressal Committee -->
  <hr>
  <table border="0" cellpadding="0" cellspacing="0" class="table">
	<thead>
		<tr>
			<th scope="col"><strong>S. No.</strong></th>
			<th scope="col"><strong>Name of faculty</strong></th>
			<th scope="col"><strong>Designation</strong></th>
			<th scope="col"><strong>Contact </strong></th>
		</tr>
	</thead>
  <tbody>
		<tr>
			<td>1</td>
			<td><span style="background-color:transparent; color:#333333; font-family:sans-serif,Arial,Verdana,&quot;Trebuchet MS&quot;; font-size:13px">Dr. Naveen Dahiya</span></td>
			<td>Chairman</td>
			<td>
			<p><span style="background-color:transparent; color:#333333; font-family:sans-serif,Arial,Verdana,&quot;Trebuchet MS&quot;; font-size:13px">naveendahiya@msit.in </span></p>

			<p><span style="background-color:transparent; color:#333333; font-family:sans-serif,Arial,Verdana,&quot;Trebuchet MS&quot;; font-size:13px">M-9818767168</span></p>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Sh. Manoj Malik</td>
			<td>Member</td>
			<td>
			<p>manojmalik@msit.in</p>

			<p>M-9873039712</p>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Dr. Sheela Malik</td>
			<td>Member</td>
			<td>
			<p>sheelamalik@msit.in</p>

			<p>M-9968493080</p>
			</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Dr. Kavita Sheoran</td>
			<td>Member</td>
			<td>
			<p>kavita.sheoran@msit.in</p>

			<p>M-9818171914</p>
			</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Mr. Sitender</td>
			<td>Member</td>
			<td>
			<p>sitender@msit.in</p>

			<p>M-8826926721</p>
			</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Mr. Parveen Kumar</td>
			<td>Member</td>
			<td>
			<p><span style="background-color:transparent; color:#333333; font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; font-size:14px">parveen@msit.in</span></p>

			<p>M-9416854853</p>
			</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Dr. Yogendra Arya</td>
			<td>Member</td>
			<td>
			<p><span style="background-color:transparent; color:#333333; font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; font-size:14px">yarya@msit.in</span></p>

			<p>M-9891484801</p>
			</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Dr. Gitanjali</td>
			<td>Member</td>
			<td>
			<p><span style="background-color:transparent; color:#333333; font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; font-size:14px">drgitanjali@msit.in</span></p>

			<p><span style="background-color:transparent; color:#333333; font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; font-size:14px">M-7011971865</span></p>
			</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Ambika Varshney</td>
			<td>
			<p>Student</p>

			<p>Representative</p>
			</td>
			<td>ambikavarshney2999@gmail.com</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Sahil Mukamian</td>
			<td>
			<p>Student</p>

			<p>Representative</p>
			</td>
			<td>stmukamian.2501@gmail.com</td>
		</tr>
	</tbody>
</table>

</div>


<%- include('partials/footer') %>
