<%- include('partials/header') %>


<div class="container jumbotron" style="width: 40%; text-align:center;">

  <div class="jumbotron" style="background-color: #fff;" >
    <div class="container">
      <h2 class="display-3" style="text-transform: capitalize;"></h2>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
