<%- include('partials/header') %>


<div class="container jumbotron" style="width: 40%; text-align:center;">

  <div class="jumbotron" style="background-color: #fff;">
    <div class="container">
      <h2 class="display-3">Submit Your Grievances</h2>

      <hr>
      <a class="btn btn-primary btn-lg pbtn" href="/parent" role="button">Parent</a>
      <a class="btn btn-primary btn-lg pbtn" href="/student" role="button">Student</a>
      <a class="btn btn-primary btn-lg pbtn" href="/teacher" role="button">Teacher</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
